* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: url('../img/background.png') repeat;
	font: normal 1em 'open_sansregular';
	color: #4a545d;
}

.wrapper {
	position: relative;
	min-height: 100%;
	min-width: 970px;
	height: auto !important;
}

.wrapper::after {
	content: "";
	height: 61px;
	display: block;
}

.page-footer {
	min-width: 970px;
	height: 61px;
	margin-top: -61px;
}

/* footer */
.page-footer {
	background-color: #ffffff;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.06) 0%, rgba(255, 255, 255, 0.06) 100%);
}

.page-footer .container {
	padding-top: 23px;
	position: relative;
}

.page-footer .copyright {
	margin: 0 180px;
	padding-top: 7px;
	text-align: center;
	font-size: 13px;
	font-family: 'open_sanslight';
}

/* login */

.page-footer .lock {
	position: absolute;
	top: 26px;
	left: 20px;
}

.lock .lock-inner {
	display: block;
	height: 20px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
	color: #9c9c9c;
	font-family: "open_sansbold";
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	color: #4a545d;
	text-decoration: none;
	background: url("../img/lock-close.svg") no-repeat;
	padding-left: 24px;
}

.lock .lock-inner:hover {
	background: url('../img/lock-open.svg') no-repeat;
}

/* Общие классы */
.container {
	width: 960px;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

.pull-left {
	float: left !important;
}

.pull-right {
	float: right !important;
}

/* clearfix */
.container::before, .clearfix::before,
.container::after, .clearfix::after {
	content: "";
	display: table;
}

.container::after, .clearfix::after {
	clear: both;
}

.container-big {
	max-width: 1200px;
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.page-header {
	height: 90px;
	background: #737171 url('../img/bg-head.png');
	position: relative;
	margin-bottom: 25px;
}

.page-header::after {
	content: "";
	position: absolute;
	bottom: -7px;
	width: 100%;
	height: 7px;
	background-color: #ffffff;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.page-header .header-logo-link {
	padding-top: 10px;
	display: inline-block;
	width: 95px;
	position: relative;
	left: 0;
}

.socials {
	position: relative;
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	min-width: 192px;
	padding-top: 24px;
}

.socials .socials-item {
	list-style: none;
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-left: 13px;
}

.socials .socials-item:first-child {
	margin-left: 0;
}

.socials .socials-link {
	display: block;
	height: 100%;
	width: 100%;
	text-indent: -9999px;
	background: url('../img/socials.png') no-repeat;
}

.socials .socials-link.vk {
	background-position: -51px -62px;
}

.socials .socials-link.gt {
	background-position: -154px -62px;
}

.socials .socials-link.fb {
	background-position: 0px -62px;
}

.socials .socials-link.tw {
	background-position: -103px -62px;
}

.socials .socials-link:hover {
	background-position-y: 0px;
}

/* menu */

.sidebar {
	width: 251px;
	float: left;
	margin-bottom: 40px;
}

.navigation {
	overflow: hidden;
	background-color: #bfbfbf;
	background-image: linear-gradient(to top, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
	border: 1px solid #c3c2c2;
	border-radius: 4px;
	margin-bottom: 34px;
}

.navigation .navigation-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation .navigation-item {
	box-shadow: 0 2px 1px rgba(9, 9, 9, 0.07), inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px #f6f7f7;
	background-color: #bfbfbf;
	background-image: linear-gradient(to top, #e9e6e5 0%, #fbf9f9 94%, #ffffff 100%);
		border-top: 1px solid #c3c2c2;
}

.navigation .navigation-item.current {
	box-shadow: 0 2px 1px rgba(9, 9, 9, 0.16), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	background-color: #bfbfbf;
	background-image: linear-gradient(to top, #3eb799 0%, #7ee8ce 100%);

}

.navigation .navigation-item.current .navigation-link {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
	color: #1e7465;
	font-family: 'open_sansbold';
	font-size: 20px;
	font-weight: 600;
}

.navigation .navigation-link {
	display: block;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #727070;
	font-family: "open_sansbold";
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	padding: 15px 29px;
}

.navigation .navigation-item:first-child {
	border-top: none;
}

.navigation .navigation-link:hover {
	box-shadow: inset 0 -2px 3px rgba(41, 41, 41, 0.05), inset 0 0 3px rgba(202, 202, 202, 0.61);
background-color: #bfbfbf;
background-image: linear-gradient(to top, #c2c0c0 0%, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7 100%);
}

.contacts {
	overflow: hidden;
	background-color: #fbfbfb;
	background-image: linear-gradient(to top, rgba(233, 231, 231, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
	font-style: normal;
}

.contacts .contacts-header {
	box-shadow: 0 2px 1px rgba(9, 9, 9, 0.17), inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 0 3px rgba(246, 247, 247, 0.15);
	border: 1px solid #c3c2c2;
	background-color: #fffbf9;
	background-image: linear-gradient(to top, #dcb15d 0%, #f4cc7e 89%, #f4cc7e 90%, #f4cc7e 100%);
	padding: 8px 28px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	color: #d0982c;
	font-family: "open_sansbold";
	font-size: 20px;
	font-weight: 600;
}

.contacts .contacts-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.contacts .contacts-item {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px rgba(114, 112, 112, 0.1), 0 0 1px rgba(255, 255, 255, 0.15);
	border: 1px solid #d6d5d3;
	background-color: #ffffff;
	background-image: linear-gradient(to top, rgba(233, 231, 231, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
	position: relative;
}

.contacts .contacts-item:hover {
	box-shadow: inset 0 2px 2px rgba(114, 112, 112, 0.1), 0 0 1px rgba(255, 255, 255, 0.15);
	border: 1px solid #d6d5d3;
	background-color: #ffffff;
	background-image: linear-gradient(to top, rgba(224, 197, 145, 0.45) 0%, rgba(251, 249, 249, 0) 100%);
	text-decoration: underline;
}

.contacts .contacts-link {
	display: block;
	padding: 8px 0 7px 65px;
	text-decoration: none;
	color: #727070;
	font-family: "open_sansregular";
	font-size: 14px;
	font-weight: 400;
}

.contacts .contacts-link::after {
	content: "";
	position: absolute;
	top: 0;
	left: 8%;
	width: 40px;
	height: 35px;
	
}

.contacts .contacts-link.email::after {
	background: url('../img/contacts-email.svg') no-repeat;
}

.contacts .contacts-link.phone::after {
	background: url('../img/contacts-phone.svg') no-repeat;
}

.contacts .contacts-link.skype::after {
	background: url('../img/contacts-skype.png') no-repeat;
}

.variable-content {
	width: 651px;
	float: right;
}












